<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47321429829-fblr253k6s6k8m8bgb2vvng7i0g51cfj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47321429829-fblr253k6s6k8m8bgb2vvng7i0g51cfj</string>
	<key>API_KEY</key>
	<string>AIzaSyCVIq6wJd4nlxQusUk26BTGjMChGAmpTYA</string>
	<key>GCM_SENDER_ID</key>
	<string>47321429829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.homySchool</string>
	<key>PROJECT_ID</key>
	<string>homy-school</string>
	<key>STORAGE_BUCKET</key>
	<string>homy-school.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47321429829:ios:e6bc925ea7b0af9e11b02c</string>
</dict>
</plist>